---
layout: default
---

<article class="item">

	<h1>{{page.title}}</h1>
	<img src="{{site.baseurl}}/assets/img/{{page.category}}/{{page.url-id}}-og.jpg" alt='{{page.title}}' data-action="zoom">

	{{content}}

	<script type="text/javascript" data-key="DA61-15E7-71E0-0FB0-1Z5sFS">
	  var __nc_widgets = __nc_widgets || [];
	  var __nc_j = __nc_j || null;

	  __nc_widgets.push(['DA61-15E7-71E0-0FB0-1Z5sFS', 'nextclickblog.github.io', 'recommendation', 1, 1, 0, 'ua']);

	  (function() {
	    var __nc = document.createElement('script'); __nc.type = 'text/javascript'; __nc.async = true; __nc.id = 'Nextclick_Manager';
	    __nc.src = 'http://nextclick.com.ua/widget/widget.recommendation.1.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(__nc, s);
	  })();
	</script>

</article>

